*{
    padding: 0;
    margin: 0;
}
#palace{
    color: gold;
}
.deliver{
    background-image: url(https://media.istockphoto.com/photos/slice-of-pizza-picture-id1138854221?b=1&k=20&m=1138854221&s=170667a&w=0&h=sUjMqpFGWsihXlonxNfvUC2th6bdX6I79neLoZL7f78=);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100%;
    color:red;
    font-size: larger;
}
#size, #crust, #toppings, #number{
    background-color: transparent;
    color:gold;
    width: 30%;
}
#location{
    background-color: transparent;
}
#note{
    color: gold;
}
